:root {
    --background-color: rgb(168, 213, 224);
    --tetris-field-color: rgb(75, 91, 94);
    --snake-color: rgb(182, 250, 104);
    --apple-color: rgb(219, 0, 0);
    
}

html, body {
    height: 100%;
    margin: 0;
  }

body {
    background: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
canvas {
    background: var(--tetris-field-color);
    /* border: 1px solid var(--tetris-field-color); */
}

#score {
    width: 400px;
    height: 500px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-flow: column;
}

#form {
    position: fixed;
    left: 18%;
}


button {
    width: 100px;
    height: 100%;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    padding:10px;
    border-radius:10px;
}
#input {
    width: 400px;
    height: 100%;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    padding:10px;
    border-radius:10px;
    outline:none;
}
